<!-- your_app/templates/your_app/reviews_with_books.html -->
{% extends "Books/base.html" %}

{% block title %}Reviews with Books{% endblock %}

{% block content %}
<h1>Reviews with Books</h1>
<table>
    <tr>
        <th>Review ID</th>
        <th>Comment</th>
        <th>Book Title</th>
    </tr>
    {% for review_id, comment, title in data %}
    <tr>
        <td>{{ review_id }}</td>
        <td>{{ comment }}</td>
        <td>{{ title }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
